:root {
	--primary-font: Helvetica, sans-serif;
	--secondary-font: serif;
	--text-color: #000;
	--white-color: #fff;
	--lime-color: #f3ffd4;
	--secondary-color: #2400ff;
	--fade-in-effect: fadein 800ms;
	font-size: calc(1em + 0.5vw);
	font-family: var(--secondary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

::selection {
}

html,
body {
	width: 100vw;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}
main {
	width: 390px;
	margin: 0 auto;
}

main nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: inherit;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
}

ul {
	list-style-type: none;
	padding: 0.125rem;
}

main img {
	width: 50%;
	height: auto;
	mix-blend-mode: multiply;
}

.text--centered {
	text-align: center;
}

.square {
	border-radius: 0;
}

em {
	display: block;
	border: 1px solid lime;
	padding: 0 24px;
	border-radius: 100%;
	width: auto;
	/* margin: 0 auto; */
	text-align: center;
	font-style: normal;
	cursor: help;
}

em:first-of-type {
	transform: translateY(1px);
	cursor: default;
	width: 100%;
}

em:nth-of-type(2) {
	cursor: default;
	width: 100%;
}

aside {
	border: 2px outset;
	padding: 1em;
}

aside h4 {
	padding: 0;
	margin-top: 0;
}

.rsvp-item {
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: auto;
}

form {
	width: 12em;
	padding-left: 4px;
}

footer {
	width: 100%;
}

footer p,
footer a {
}

a:hover {
	text-decoration: underline;
}

@media (max-width: 465px) {
}
