:root {
	--primary-font: Helvetica, sans-serif;
	--secondary-font: serif;
	--text-color: #000;
	--white-color: #fff;
	--lime-color: #f3ffd4;
	--secondary-color: #2400ff;
	--fade-in-effect: fadein 800ms;
	font-size: calc(1em + 0.5vw);
	font-family: var(--secondary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

@keyframes shake {
	0% {
		transform: translate(-20px, 0px) rotate(0deg);
	}

	50% {
		transform: translate(2px, 14px) rotate(0deg);
	}

	100% {
		transform: translate(4px, -6px) rotate(0deg);
	}
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

::selection {
}

html,
body {
	width: 100vw;
	padding: 0;
	margin: 0;
}

body {
}

main,
footer {
	width: 40%;
	margin: 0 auto;
	text-align: justify;
}

main {
	padding-top: 3%;
}
footer {
	padding-bottom: 1%;
}

.title__wrapper {
	display: flex;
	flex-direction: row;
	width: auto;
	align-items: center;
	height: 150px;
	justify-content: center;
}

.title__wrapper img {
	height: 100%;
	width: auto;
}

.title__wrapper img:hover {
	/* position: absolute; */
	height: inherit;
	width: inherit;
	animation: shake 0.05s;
	animation-iteration-count: infinite;
	border: 1px solid;
	border-radius: 100%;
}

nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0.5px;
}

nav p {
	margin: 0;
	grid-column: 1 / 2;
}

.time {
	grid-column: 2;
	grid-row: 1 / 3;
	background-color:#c365ea;
	border-color: #dab8e9;
}

.date {
	grid-column: 1;
	grid-row: 2 / 4;
	background-color: #17ca36;
	border-color: #7bff91;

}

.address {
	grid-column: 3;
	grid-row: 2 / 4;
	background-color: rgb(183, 123, 49);
	border-color: rgb(222, 208, 200);

}

button {
	font-style: normal;
	font-size: inherit;
	font-family: inherit;
	line-height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

button:hover {
	cursor: help;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

li {
	text-align: left;
	width: fit-content;
}

.heart {
	color: red;
	border-radius: 100%;
	padding: 0 4px;
}

main img {
	width: 50%;
	height: auto;
	mix-blend-mode: multiply;
}

.text--centered {
	text-align: center;
}

.square {
	border-radius: 0;
}

aside {
	border: 2px outset rgb(241, 241, 241);

	padding: 1em;
}

aside h4 {
	padding: 0;
	margin-top: 0;
}

.rsvp-item {
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: auto;
}

form {
	width: 12em;
	padding-left: 4px;
}

footer {
	font-family: sans-serif;
}

footer p,
footer a {
}

a {
	border: 1px solid black;
	padding: 0 4px;
	text-decoration: none;
	color: inherit;
}

a:hover {
	cursor: help;
	border-radius: 100%;
	background-color: yellow;
}

@media (max-width: 1350px) {
	main,
	footer {
		width: 50%;
	}
}

@media (max-width: 900px) {
	main,
	footer {
		width: 80%;
	}
}

@media (max-width: 600px) {
	main,
	footer {
		width: 94%;
	}

	.title__wrapper {
		height: 100px;
	}
}
